# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/*.jar
/logs/
/modules
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.DS_Store
Thumbs.db
.vscode/
