@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String)
    @*
    * Call the `main` template with two arguments. The first
    * argument is a `String` with the title of the page, the second
    * argument is an `Html` object containing the body of the page.
    *@
    @main("Jasminを使ってSwiftを学ぼう") {
        <script>
                window.CONTROLE_GROUP = false;
                window.CONTROL_TUTORIAL_GROUP =true;//tutorial実験のためのグループ分け, true-> Javaあり
        </script>
        @*
        * Get an `Html` object by calling the built-in Play welcome
        * template and passing a `String` message.
        *@
        @*
        @play20.welcome(message, style = "Scala")
        *@
        <p id = "logo">
            <img src="@routes.Assets.versioned("images/Jasmin.png")" width="300" height="88">
        </p>
        <p>
            <button id="prev" class="btn btn-default"> Prev </button>
            <button id="next" class="btn btn-default"> Next </button>
            @*<button id="submit" class="btn btn-default" onclick="if(window.CONTROLE_GROUP){if(isCodingTask()){document.getElementById('answer').style.display='block';document.getElementById('answer').style.visibility='visible';document.getElementById('ansImg').style.display='block';document.getElementById('ansWord').style.display='hidden';}else{document.getElementById('ansWord').style.display='block'}}else{document.getElementById('answer').style.display='block';document.getElementById('answer').style.visibility='visible'}"> 解答を見る（最下部に表示） </button>*@
        </p>
        @*<div id="editorAnswer" style="height: 400px; width: 500px; float: left; padding-right: 250px;padding-bottom:50px">
        </div>*@

        <div id="textbook">
            <h2><div id="title"></div></h2>
            <button id="finish" class="btn btn-default" style="visibility: hidden;display:none">Submit</button>
            <h4><div id="similarity"></div></h4>
            <hr>
            <div id="textString"></div>
            <hr><hr>
            Source:<br>

            <div id="source"></div>
            @*alert(@message);*@
            <p id = "message">@message</p>
        </div>

        <div class="stopwatch" style = "visibility: hidden; display: none"></div>



        @* Converter in the bottom *@
        <div id="tool_margin" style="height: 250px; clear: both;"></div>
        <div id="tool" style="
            background-color: white;
            position: fixed;
            bottom: 0;
            border: solid;
            height: 250px;
            width: 90%;
            z-index: 10;
            float: left;
            visibility: hidden;
            display: none">

            <div clsee="row">
                @*CodeArea(ACE)*@
                <div class="btn-group" style="background-color: whitesmoke;
                    margin-top: 20px;
                    margin-left: 15px;
                    width: 975px">
                    <button id="exec" class="btn btn-default"><i class="glyphicon glyphicon-play"></i></button>
                    <button id="close" class="btn btn-default"><i class="glyphicon glyphicon-menu-down"></i></button>
                </div>
            </div>
            <div id="converter" style="height: 180px;
                overflow: auto">
                <div class="col-lg-6 col-md-6">
                    Java
                    <div id="editorMain" style="height: 600px;"></div>

                </div>
                <div class="col-lg-6 col-md-6">
                    Swift
                    <div id="editorResult" style="height: 600px"></div>
                </div>
            </div>
        </div>
        @*処理の流れ<br>*@
        @*実行ボタン：JavaScriptでイベント取得。エディタ上のテキストを取得。Fromの形でPOST(JavaScript)<br>*@
        @*コントローラはポストされたデータを取得。アクション関数で文字列の処理など。(Scala,String)ビューにセット。<br>*@
        @*ビュー：生文字を取得(改行文字に注意)。JavaScriptでコメント文字など操作してセット。<br>*@
        <script src="@routes.Assets.versioned("javascripts/stopWatch.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/textbook.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/textbook_noCmp.js")" type="text/javascript"></script>

        <script>
                var textStrings;// tutorial text shown in the page
                var exprData = new Object(); // experiment result formed by: [[id, textNum]: [time], [id, textNum2]: [time2]...]
                var exprDataString = "";
                $(function() {
                    if(window.CONTROLE_GROUP) {
                        $('#tool, #tool_margin').hide();
                    }
                    stopwatch.start();

                })

                function setText(){
                    if(window.CONTROL_TUTORIAL_GROUP == false){
                        document.getElementById('similarity').style.visibility='hidden';
                        document.getElementById('similarity').style.display='none';
                        textStrings = allText_noCmp;
                    }else{
                        textStrings = allText;
                    }
                }
                //Generate random id

                function makeId(){
                    var text = "";
                    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

                    for( var i=0; i < 5; i++ )
                        text += possible.charAt(Math.floor(Math.random() * possible.length));

                    return text;
                }

                $('#close').on('click', function () {
                    var curHeight = $('#tool').height();
                    if (curHeight > 200) {//appeared
                        $('#tool').animate({
                            height: 70
                        }, "normal");
                        $('#converter').fadeOut();
                    } else {
                        $('#tool').animate({
                            height: 250
                        }, "normal");
                        $('#converter').fadeIn();
                    }
                });
                var url = window.CONTROL_TUTORIAL_GROUP ? "https://goo.gl/forms/hzlPjwHBYFndYN3H2" : "https://goo.gl/forms/Qv8HCWbolZAMUyCE3";
                var exprId = makeId();
                var endEnd = "<h2>学習お疲れ様でした！<br>" +
                        "あなたのIDは" + "\""+exprId+"\"" + "です。紙などにメモしてください。<br>" +
                        "下のSubmitボタンを押して学習終了してください！</h2>"
                var result = document.getElementById('message').innerHTML;
                if(result.length>0){
                    showCurrentText('E')
                }else{
                    showCurrentText('T0');
                }
                $('#next').on('click', function () {
                    var time = document.getElementsByClassName('stopwatch')[0].innerHTML;// get time from stopwatch div
                    saveData(localStorage.currentText, time);
                    var textNum = nextText(localStorage.currentText);
                    showCurrentText(textNum, true);
                    stopwatch.restart();
                });
                $('#prev').on('click', function () {
                    var time = document.getElementsByClassName('stopwatch')[0].innerHTML;// get time from stopwatch div
                    saveData(localStorage.currentText, time);
                    var textNum = prevText(localStorage.currentText);
                    showCurrentText(textNum, true);
                    stopwatch.restart();
                })

                $(function() {
                    var hash = location.hash;
                    if (hash) {
                        var textNum = hash.substring(1);
                        showCurrentText(textNum);
                    }
                });
                function nextText(textNum){
                    var type = textNum[0];
                    var index = parseInt(textNum.substring(1)) | 0;
                    if(index==textStrings.length-1){
                        return "E";
                    }

                    return type+(index+1);
                }
                function prevText(textNum){
                    var type = textNum[0];
                    var index = parseInt(textNum.substring(1)) | 0;
                    if(type=='E'){
                        return 'T'+(textStrings.length-1);
                    }
                    if(index==0){
                        return 'T0';
                    }
                    return type+(index-1);
                }
                function showCurrentText(textNum, updateHash){
                    if(!textStrings){
                        setText();
                    }
                    localStorage.currentText = textNum;
                    if(updateHash){
                        location.hash = textNum;
                    }
                    var type = textNum[0];
                    var index = parseInt(textNum.substring(1));
                    if (type == 'E') {
                        document.getElementById('title').innerHTML = endEnd;
                        document.getElementById('similarity').innerHTML = "続いて<u><b>新しいタブ</b></u>にテストとアンケートを開いてください。<br>" +
                        "<a href='https://goo.gl/forms/ffZjJdtm92oPYG7v1'>学習効果の評価テスト</a>と" +
                        "<a href='" + url + "'>アンケート</a>にお答えください。<br>"
                        document.getElementById('textString').innerHTML = '';
                        document.getElementById('source').innerHTML='';
                        localStorage.currentText = 'E';
                        makeExprDataString(exprData);
                        document.getElementById('finish').style.visibility="visible";
                        document.getElementById('finish').style.display="block";
//                        alert(exprDataString);
                    } else if (type == 'T') {
                        var element = textStrings[index];
                        document.getElementById('title').innerHTML = element[0];
                        document.getElementById('similarity').innerHTML = element[1];
                        document.getElementById('textString').innerHTML = element[2];
                        document.getElementById('source').innerHTML = element[3];
                        document.getElementById('finish').style.visibility="hidden";
                        document.getElementById('finish').style.display="none";
                    }
                }
                function saveData(textNum, time){
                    // input to exprData
                    var key = textNum;
                    var sec = calculateSec(time);
                    if(exprData[key]!=null){
                        var originSec = exprData[key];
                        //add time
                        var sec = sec + originSec;
                    }
                    exprData[key] = sec;
                }

                function calculateSec(time){
                    var timeArr = time.split(":");
                    var min = parseInt(timeArr[0])
                    var sec = parseInt(timeArr[1]);
                    var result = min*60 + sec;
                    return result;
                }
                function makeExprDataString(exprData){
                    for(var key in exprData) {
                        var value = exprData[key];
                        eachElement = key+":"+value;
                        exprDataString = exprDataString + eachElement +","
//                        alert(key+", "+value);
                    }
                }
                $('#finish').click(function(){
//                    alert(exprId);
                    var userInfo = exprId+"-"+exprDataString;
                    var form = document.createElement('form');
                    document.body.appendChild(form);
                    var input = document.createElement('input');
                    input.setAttribute('type', 'hidden');
                    input.setAttribute('name', 'name');
                    input.setAttribute('value', userInfo);
                    form.appendChild(input);
                    form.setAttribute('action', '/converter/end');
                    form.setAttribute('method', 'POST');
                    form.submit();
                })
                function createEditor(idName, canWrite, initText, mode, AnsEditor) {
                    var editor = ace.edit(idName);
                    if (canWrite) {
                        editor.$blockScrolling = Infinity;
                        editor.setOptions({
                            enableBasicAutocompletion: true,//基本的な自動補完
                            enableSnippets: true,//スニペット
                            enableLiveAutocompletion: true//ライブ補完
                        });
                    }
                    editor.setTheme("ace/theme/monokai");
                    editor.getSession().setMode("ace/mode/" + mode);//シンタックスハイライトと自動補完
                    //editor.getSession().setUseWrapMode(true);//true:折り返し、false:横スクロールバー
                    //2の場合編集不可能オプションをtrueにしたい。ｌ
//                $('#font-size').click(function (e) {
//                    editor.setFontSize($(e.target).data('size'));
//                });
                    editor.setReadOnly(!canWrite);
                    if (canWrite) {
                        $('#exec').click(function (e) {
                            var form = document.createElement('form');
                            document.body.appendChild(form);
                            var input = document.createElement('input');
                            input.setAttribute('type', 'hidden');
                            input.setAttribute('name', 'name');
                            var text = editor.getValue();
                            if (idName == 'editorMain') {
                                if (AnsEditor != null) {
                                    localStorage.textSwiftAns = AnsEditor.getValue();
                                }
                                localStorage.textJavaMain = text;
                                input.setAttribute('value', text);
                                form.appendChild(input);
                                form.setAttribute('action', '/converter' + location.hash);
                                form.setAttribute('method', 'POST');
                                form.submit();
                            }
                        });
                    }
                    if (initText != null && initText != '')
                        editor.setValue(initText, -1);
                    return editor;
                }
                var mes = `@Html(message)`;
                var mes1 = mes.replace(/<br>/g, `
`) ;
                var mes2 = mes.replace(/<br>/g, `
//`) ;
                if (mes2 == "NULL_POINTER") {
                    alert("Error in the Java Program");
                    mes2 = "";
                }
                var defaultJavaCode =
                        'public class Main {\n' +
                        '    public static void main(String[] args) {\n' +
                        '        System.out.println("Hello, world");\n' +
                        '    }\n' +
                        '}\n';
                //            var editorAnswer = createEditor('editorAnswer', true, localStorage.textSwiftAns, "swift", null);
                //            var editorMain = createEditor('editorMain', true, localStorage.textJavaMain || defaultJavaCode, "java", editorAnswer);
                var editorMain = createEditor('editorMain', true, localStorage.textJavaMain || defaultJavaCode, "java", null);
                var editorResult = createEditor('editorResult', false, mes2, "swift", null);
        </script>
        <script>
                function pad0(value, count) {
                    var result = value.toString();
                    for (; result.length < count; --count)
                        result = '0' + result;
                    return result;
                }
                function clearChildren(node) {
                    while (node.lastChild)
                        node.removeChild(node.lastChild);
                }
                let stopwatch = new Stopwatch(
                        document.querySelector('.stopwatch'),
                        document.querySelector('.results'));
        </script>

    }
