@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Jasminを使ってSwiftを学ぼう") {

    @message
    @*<form action="/visualizer" method="GET">*@
    @*<input type="submit" value="Visualizerページ"/>*@
    @*</form>*@
    <h1>Jasminを使ってSwiftを学ぼう</h1>
    <h3>この度は、私たちの科学実験にご協力いただきまして、誠にありがとうございます。</h3>
    <p>
        私たちは、言語間の類似度が学習効率に与える影響について研究しています。<br>
        熟知しているプログラミング言語で新しいプログラミング言語の文法を解析したり説明することで、言語学習を支援しようとしています。<br>
        自然言語で言うと、日本語で英語の文章を翻訳、説明し、文章の理解を助けることと同じでしょう。
    </p>
    <p>
        今回は、Java参考文を取り入れた学習環境をWebアプリとして提供いたします。<br>
        本実験では、本学習環境を使って、Swiftの学習に取り組んでいただきます。
    </p>
    <p>
        以下で、本学習環境の使い方について説明いたします。<br>
        なお、本学習環境はFirefoxとGoogle Chromeで動作確認をしており、どちらかの環境でのご利用をおすすめします。<br>
    </p>
    <p>
        本ページの最下部にある「START」ボタンを押すと、以下の図のようなSwiftの練習問題が表示されます。<br>
    </p>
    <p>
    <img src="@routes.Assets.versioned("images/firstPart.png")" width="700" height="400" style="border:solid">
    <br>
    </p>
    <p>
        これは主に４つの部分で構成されています。<br>
        タイトルにあるSwift文法を下で説明しています。<br>
        JavaとSwiftの類似度でJavaとSwift言語間の同じ部分と違う部分を取り出しています。<br>
        類似度のランクは３つあります。<br>「ほぼ同じ」は機能や文法構成が同じく、ただキーワードなどが違うことを示します。<br>
        「少し違う」は、機能は同じであるが、文法構成とかキーワードが違うことを示します。<br>
        「全然違う」は、Swift独自の文法を示します。
        Prev, Nextボタンで文法ページを巡り、Swiftの文法を勉強できます。
    </p>
    <p>
        本サイトは２２ページあり、アドレスバーから進展を確認できます。
        <img src="@routes.Assets.versioned("images/secondPart.png")" width="700" height="400" style="border:solid">
    </p>
    <p>
        　　<h2>注意事項</h2>
    <ul>
        <li>実験時間は１時間から１時間半を予定しています。<u><b>一旦始まったら途中に止まらず、ページを飛ばず、最後までやるようお願いします。</b></u></li>
        <li>学習途中でメモを取るのは構いませんが、本サイトの他に、<u><b>インターネットで情報を検索したり、XCodeなどでコーディングしたり、市販の書籍を読まれたり、他の方にご相談されることはご遠慮ください。</b></u></li>
        <li>あくまで<u><b>本サイトのみを使うようお願いします。</b></u></li>
        <li>学習が終わりましたら、<u><b>必ずSubmitボタンを押して終了してください。</b></u></li>
        <li>練習問題が終わり次第、最後のページで表示する<u><b>学習効果の評価テストと事後アンケート両方へのご回答</b></u>をお願いします。</li>
    </ul>
    </p>
    <form action="/converter" method="GET">
        @*Input your id<input type="text" name="exprId"><br>*@
        <input type="submit" value="学習開始（開始時刻をメモしてね）" class="btn btn-default"/>
    </form>
    <br>
    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    *@
}
