@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Welcome to Play Frameworkd") {

    @message
    @*<form action="/visualizer" method="GET">*@
    @*<input type="submit" value="Visualizerページ"/>*@
    @*</form>*@
    <h1>Jasminを使ってSwiftを学ぼう</h1>
    <h3>この度は、私たちの科学実験にご協力いただきまして、誠にありがとうございます。</h3>
    <p>
        私たちは、言語変換を活用したプログラミング言語の学習方法について研究しています。<br>
        普段お使いのプログラミング言語と学習中の言語を比較することで、言語学習を支援しようとしています。
    </p>
    <p>
        今回は、言語変換機能を取り入れた学習環境をWebアプリとして提供いたします。<br>
        本実験では、本学習環境を使って、Swiftの学習に取り組んでいただきます。
    </p>
    <p>
      <u><b>注意：学習を始める前に、開始時刻と終了時刻を各自で記録するようお願い申し上げます。後ほどアンケートでお答え頂きます。</b></u>
    </p>
    <p>
      以下で、本学習環境の使い方について説明いたします。<br>
      なお、本学習環境はGoogle Chromeで動作確認をしており、同環境でのご利用をおすすめします。<br>
    </p>
    <p>
        本ページの最下部にある「START」ボタンを押すと、Swiftの練習問題が表示されます。
    </p>

    <p>下にはJavaプログラムをSwiftプログラムに変換できる変換器があります。<br>
        これを使うには、入力がひとつのJavaファイルの文法に従わなければなりません。<br>
        つまり、クラスの定義から始まって、フィールドとメソッドの定義が中にあって、さらにメソッドの中にステートメントがあるということです。
    </p>
    例えば：<br>
    <pre>
class A {
    for (int i = 0; i < 5; i++) {
    }
}
    </pre>
    のようなコードはエラーになり、正確に変換できません。
    <pre>
class A {
    void a() {
        for (int i = 0; i < 5; i++) {
        }
    }
}
    </pre>
    <p>これが正しく変換できるJavaプログラムです。</p>

    <p>その後にいくつかのコーディングタスクを解いていただきます。</p>
    <p>MacユーザーはXCodeを開き、File->New->Playgroundで.playgroundファイルを生成し、Swiftコードを書くことができます。</p>
    <p>他のユーザーはオンラインコンパイラーである
        <a href="http://www.runswiftlang.com/">http://www.runswiftlang.com</a>
        または
        <a href="http://swiftstub.com">http://swiftstub.com/</a>
        などを使えます。
    </p>
    <p>ネットを使って参考資料を探すこともできます。</p>
    <p>問題を解き終わったら、<u>終了時刻をまた別途記録してください。</u><br>
    そのあと、Webページに提示されたサイトに接続し、テストの受験とアンケートをお願いします。</p>
    <br>
    <form action="/converter" method="GET">
        <input type="submit" value="START" class="btn btn-default"/>
    </form>


    <br>
    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    *@
}
