@*
* This template takes a single argument, a String containing a
* message to display.
*@


@(message: String)
@import play.i18n._

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Welcome to Play Frameworkd") {

    <script>
            localStorage.startTime="";
            localStorage.currentex="";
            localStorage.sourcefile = "";
    </script>
    @message

    <br>
    <form action="/visualizer" method="GET">
        <input type="submit" value = "@Messages.get(Lang.forCode("en"),"toppage.toDemoPage")"/>
    </form>
    <br>


    @Messages.get(Lang.forCode("en"),"toppage.experimenttext")

    <hr>
    <form action="/experiment1" method="GET">
        <input type="submit" value="experiment1"/>
    </form>
    <br>
    <form action="/experiment2" method="GET">
        <input type="submit" value="experiment2"/>
    </form>
    <br>
    <form action="/experiment3" method="GET">
        <input type="submit" value="experiment3"/>
    </form>
    <br>
    <form action="/experiment4" method="GET">
        <input type="submit" value="experiment4"/>
    </form>
    <br>
@*    <form action="/visualizer" method="GET">
        <input type="submit" value="Visualizerページ"/>
    </form>
    <br>
    <form action="/converter" method="GET">
        <input type="submit" value="Converterページ"/>
    </form>
    <br>*@
    @*以下はPlayのデフォルトトップページ*@
    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    *@

    @play20.welcome(message, style = "Scala")
}
