@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Jasminを使ってSwiftを学ぼう") {

    @message
    @*<form action="/visualizer" method="GET">*@
    @*<input type="submit" value="Visualizerページ"/>*@
    @*</form>*@
    <h1>Jasminを使ってSwiftを学ぼう</h1>
    <h3>この度は、私たちの科学実験にご協力いただきまして、誠にありがとうございます。</h3>
    <p>
        私たちは、言語変換を活用したプログラミング言語の学習方法について研究しています。<br>
        普段お使いのプログラミング言語と学習中の言語を比較することで、言語学習を支援しようとしています。
    </p>
    <p>
        今回は、言語変換機能を取り入れた学習環境をWebアプリとして提供いたします。<br>
        本実験では、本学習環境を使って、Swiftの学習に取り組んでいただきます。
    </p>
    <p>
      以下で、本学習環境の使い方について説明いたします。<br>
      なお、本学習環境はFirefoxとGoogle Chromeで動作確認をしており、どちらかの環境でのご利用をおすすめします。<br>
    </p>
    <p>
        本ページの最下部にある「START」ボタンを押すと、以下の図のようなSwiftの練習問題が表示されます。<br>
        練習問題は前半と後半に分かれており、前半はリーディング問題、後半はライティング問題になります。
    </p>
    <p>
        <img src="@routes.Assets.versioned("images/firstPart.png")" width="700" height="400" style="border:solid">
        <h3>                </h3>
        <img src="@routes.Assets.versioned("images/secondPart.png")" width="700" height="400" style="border:solid">
    </p>
    <p>
        最下部にはJavaプログラムをSwiftプログラムに変換できる変換器があります。<br>
        変換器には1つのJavaクラスしか入力することができませんので、ご注意ください。<br>
        つまり、クラスの定義から始まって、フィールドとメソッドの定義がその中にあり、さらにメソッドの中にステートメントがある形を想定しています。
    </p>
    <p>
    例えば、<br>
    <pre>
class Klass {
    for (int i = 0; i < 5; i++) {
    }
}
    </pre>
    上記のコードはエラーとなり、正確にSwiftプログラムに変換できません。
    </p>
    <p>
    一方、
    <pre>
class Klass {
    void method() {
        for (int i = 0; i < 5; i++) {
        }
    }
}
    </pre>
    上記コードは正しく変換できるJavaプログラムです。
    </p>

    <p>
      ライティング問題では、コーディング環境を用意して取り組んで頂くことを想定しています。<br>
      MacユーザーはXCodeを開き、メニューのFile -> New -> Playgroundで.playgroundファイルを作成して、Swiftコードを書いて動かすことができます。<br>
      それ以外のユーザはオンラインコンパイラである
        <a href="http://www.runswiftlang.com/">http://www.runswiftlang.com</a>
        または
        <a href="http://swiftstub.com">http://swiftstub.com/</a>
        などをご利用いただけます。
    </p>
    <p>
    　　<h2>注意事項</h2>
      <ul>
        <li>学習を始める前の<u><b>開始時刻</b></u>と学習が完了した際の<u><b>終了時刻</b></u>を、<u><b>各自で記録</b></u>するようお願い申し上げます。後ほどアンケートでお答え頂きます。</li>
        <li>本サイト以外の参考資料として、<a href="http://www.studiogalago.com/the-swift-programming-language/">Apple社の資料の日本語訳</a>をおすすめします。</li>
        <li>その他に、インターネットで情報を検索して頂いても構いませんが、<u><b>市販の書籍を読まれたり、他の方にご相談されることはご遠慮ください。</b></u></li>
        <li>練習問題が終わり次第、最後のページで表示する<u><b>学習効果の評価テストと事後アンケート両方へのご回答</b></u>をお願いします。</li>
      </ul>
    </p>
    <form action="/converter" method="GET">
        <input type="submit" value="START" class="btn btn-default"/>
    </form>
    <br>
    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    *@
}
